<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">
        <%= blog["title"] %>
    </div>
    <img src="<%= blog["image"] %>" alt="blog-image" class="ui centered rounded image">
    <div class="meta">
        <span> <%= blog["created"].toDateString() %> </span>
    </div>
    <div class="description">
        <p> <%- blog["body"] %> </p>
    </div>
    <a href="/blogs/<%= blog["_id"] %>/edit" class="ui purple basic button">Edit</a>
    <form action="/blogs/<%= blog["_id"] %>?_method=DELETE" method="POST" class="ui form" id="delete">
        <div class="field">
            <button type="submit" class="ui red basic button">Delete</button>
        </div>
    </form>
</div>

<% include partials/footer %>